@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body,html{
  padding: 0%;
  margin: 0;
}
document{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #5f6d7a;
}
nav{
  padding: 15px 8px;
  width: 90%;  
  z-index: 999; 
  position: fixed;     
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 10px;
  height: 61px;
  margin-left: 50%;
  transform: translateX(-50%); 
  border-color: 1px solid black;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.0);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  text-align: center;
  font-weight: 600;
  font-size: 20pt;
  color:white;
  font-family: 'Poppins', sans-serif;
}
logo{
  float:left;
  background-color: rgba(0, 0, 0,0);
  background-size: contain;
  background-image: url(Immagine3.png);
  height: 40px;
  width: 40px;
  margin-top: -5px;;
  margin-left: 5px;
  background-repeat: no-repeat;
  border-radius: 100px;
  text-decoration: none;
}
left{
  width:20%;
  background-color: #173753;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  }
  presentation{
    margin-top: 80px;
    height:100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 15pt;
    color:white;
    padding: 10px;
  }
  foto{
    display: flex;
    background-image: url("AREmoji_20220430_184509_2884.gif");
    height: 200px;
    width: 200px;
    background-size: contain;
    margin: 0 auto;
  }
    nominativo{
      font-size: 20pt;
      text-align: center;
      padding: 2px 2px;
    }
      informazioni{
        display: flex;
        flex-direction: column;
      }
        h{
          background-color: #335878;
          font-weight: bold;
          text-align: center;
          padding: 2px 2px;
          border-radius: 8px;
        }
        h1{
          font-weight: bold;
          padding: 3px 2px;
          font-size: 14pt;
        }
        p{
          padding: 0px 4px;
          font-size: 10pt;
        }
      lingue{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
      }
        lingua{
          padding: 2px 2px;
          font-size: 13pt;
        }
            l{
            box-sizing: contet-box;
            height: 9px;
            width: 100px;
            border: 1px solid white;
            border-radius: 10px;
            }

            l1{
              position: absolute ;
              height: 10px;
              width: 101px;
              background: white;
              border-radius: 10px;

            }
            l2{
              position: absolute;
              height: 10px;
              width: 40px;
              background: white;
              border-radius: 10px;
            }

      softwaretskills{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
      }
        s1{
          padding: 2px 2px;
          font-size: 13pt;
        }
            l3{
              position: absolute;
              height: 10px;
              margin-top: -1px;
              width: 80px;
              background: white;
              border-radius: 10px;
            }
            l4{
              position: absolute;
              height: 10px;
              width: 80px;
              background: white;
              border-radius: 10px;
            }
            l5{
              position: absolute;
              height: 10px;
              width: 101px;
              background: white;
              border-radius: 10px;
            }
            l6{
              position: absolute;
              height: 10px;
              width: 80px;
              background: white;
              border-radius: 10px;
            }
            l7{
              position: absolute;
              height: 10px;
              width: 80px;
              margin-top: -1px;
              background: white;
              border-radius: 10px;
            }
            l8{
              position: absolute;
              height: 10px;
              width: 95px;
              background: white;
              border-radius: 10px;
            }
      personality{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
      }
        pers{

        }

*{
  font-size: 14pt;
}
right{
  height: 100%;
  width: 80%;
  background-color: #5f6d7a;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color:white;
  font-family: "Maven Pro";
}
  t{
    padding: 5px 0px;
    font-weight: 600;
    font-size: 18pt;
  }
  obiettivi{
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  }

  istruzione{
    margin-top: 150px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
    data{
      font-size: 12pt;
      color: white;
      opacity: 0.60;
      font-style: monospace;
    }
    t1{

    }
    t2{

    }
  esperienze{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
    te{

    }
  competenze{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
    t3{
      display: flex;
      flex-direction: column;
    }
  hobbies{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
    t4{
      display: flex;
      flex-direction: row;
    }
      t5{
        padding-right: 10px;
      }
